<div class="container">
  <div class="jumbotron text-center">
    <h1 class="font-head">Logoi Chat Portal</h1>
    <p class="font-mid lead">Contact your teacher directly.</p>
    <div *ngIf="!this.authService.loggedIn()">
      <a class="font-p btn btn-primary" [routerLink]="['/register']">Register</a>
      <span style="margin-left:4px; margin-right:4px;">or</span>
      <a class="font-p btn btn-info" [routerLink]="['/login']">Login</a>
    </div>

    <div *ngIf="this.authService.loggedIn()">
      <a class="font-p btn btn-primary" [routerLink]="['/chat']">Chat Room</a>
    </div>
  </div>
</div>